# EDA Using Python

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib  as plt 
import seaborn as sns

In [4]:
plt.style.use('ggplot')
#pd.set_option('max_column' , 200)

In [5]:
df = pd.read_csv(r"D:\ما بعدالجيش\python\Data_Set.csv")

In [6]:
df.shape

(566, 79)

In [7]:
df.head(20)

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"
5,609818,Luther Burbank Elementary School,ES,2035 N Mobile Ave,Chicago,IL,60639,(773) 534-3000,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1134122.521,1913042.046,41.917593,-87.782663,19,BELMONT CRAGIN,29,25,"(41.91759334, -87.78266267)"
6,610298,Lenart Elementary Regional Gifted Center,ES,8101 S LaSalle St,Chicago,IL,60620,(773) 535-0040,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1176725.617,1851241.455,41.747150,-87.628002,44,CHATHAM,21,6,"(41.74715024, -87.62800231)"
7,610200,James N Thorp Elementary School,ES,8914 S Buffalo Ave,Chicago,IL,60617,(773) 535-6250,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1199554.700,1846396.130,41.733310,-87.544515,46,SOUTH CHICAGO,10,4,"(41.73331035, -87.54451462)"
8,609680,Walter Payton College Preparatory High School,HS,1034 N Wells St,Chicago,IL,60610,(773) 534-0034,http://schoolreports.cps.edu/SchoolProgressRep...,North-Northwest Side High School Network,...,150000000000000,1174484.638,1907490.082,41.901552,-87.634537,8,NEAR NORTH SIDE,27,18,"(41.90155157, -87.63453744)"
9,610056,Roswell B Mason Elementary School,ES,4217 W 18th St,Chicago,IL,60623,(773) 534-1530,http://schoolreports.cps.edu/SchoolProgressRep...,Austin-North Lawndale Elementary Network,...,150000000000000,1148477.255,1891003.441,41.856852,-87.730491,29,NORTH LAWNDALE,24,10,"(41.85685194, -87.73049117)"
10,609848,Ira F Aldridge Elementary School,ES,630 E 131st St,Chicago,IL,60827,(773) 535-5614,http://schoolreports.cps.edu/SchoolProgressRep...,Lake Calumet Elementary Network,...,150000000000000,1182870.294,1818598.178,41.657432,-87.606496,54,RIVERDALE,9,5,"(41.65743243, -87.60649623)"
11,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
12,610123,William Penn Elementary School,ES,1616 S Avers Ave,Chicago,IL,60623,(773) 534-1665,http://schoolreports.cps.edu/SchoolProgressRep...,Austin-North Lawndale Elementary Network,...,150000000000000,1150967.365,1891574.242,41.858370,-87.721336,29,NORTH LAWNDALE,24,10,"(41.85836995, -87.72133609)"
13,609863,Christopher Columbus Elementary School,ES,1003 N Leavitt St,Chicago,IL,60622,(773) 534-4350,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1161595.965,1906670.676,41.899581,-87.681902,24,WEST TOWN,32,13,"(41.89958139, -87.68190167)"
14,610226,Socorro Sandoval Elementary School,ES,5534 S Saint Louis Ave,Chicago,IL,60629,(773) 535-0457,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1153950.752,1867537.733,41.792352,-87.711024,63,GAGE PARK,14,8,"(41.79235177, -87.71102417)"
15,609722,Manley Career Academy High School,HS,2935 W Polk St,Chicago,IL,60612,(773) 534-6900,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,150000000000000,1156776.858,1896186.780,41.870912,-87.699887,27,EAST GARFIELD PARK,28,11,"(41.87091163, -87.69988652)"
16,610308,Wilma Rudolph Elementary Learning Center,ES,110 N Paulina St,Chicago,IL,60612,(773) 534-7460,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1165013.632,1900863.727,41.883575,-87.669514,28,NEAR WEST SIDE,27,13,"(41.88357478, -87.66951363)"
17,609749,Northside College Preparatory High School,HS,5501 N Kedzie Ave,Chicago,IL,60625,(773) 534-3954,http://schoolreports.cps.edu/SchoolProgressRep...,North-Northwest Side High School Network,...,150000000000000,1154090.859,1936413.866,41.981352,-87.708672,13,NORTH PARK,40,17,"(41.98135196, -87.70867192)"
18,609958,Frank W Gunsaulus Elementary Scholastic Academy,ES,4420 S Sacramento Ave,Chicago,IL,60632,(773) 535-7215,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1157065.026,1875083.270,41.812995,-87.699400,58,BRIGHTON PARK,14,9,"(41.81299531, -87.69940042)"
19,610121,Washington Irving Elementary School,ES,749 S Oakley Blvd,Chicago,IL,60612,(773) 534-7295,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1161216.391,1896475.332,41.871612,-87.683579,28,NEAR WEST SIDE,25,12,"(41.87161238, -87.68357939)"

In [8]:
df.columns

Index(['School ID', 'Name of School', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
       'Network Manager', 'Collaborative Name',
       'Adequate Yearly Progress Made? ', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'Healthy Schools Certified?', 'Safety Icon ', 'Safety Score',
       'Family Involvement Icon', 'Family Involvement Score',
       'Environment Icon ', 'Environment Score', 'Instruction Icon ',
       'Instruction Score', 'Leaders Icon ', 'Leaders Score ',
       'Teachers Icon ', 'Teachers Score', 'Parent Engagement Icon ',
       'Parent Engagement Score', 'Parent Environment Icon',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %', 'RCDTS Code',
       'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude',
       'Community Area Number', 'Community Area Name', 'Ward',
       'Police District', 'Location'],
      dtype='object')

In [9]:
df.dtypes

School ID                              int64
Name of School                        object
Elementary, Middle, or High School    object
Street Address                        object
City                                  object
                                       ...
Community Area Number                  int64
Community Area Name                   object
Ward                                   int64
Police District                        int64
Location                              object
Length: 79, dtype: object

In [10]:
df.describe()

,School ID,ZIP Code,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Exceeding Math %,...,College Enrollment (number of students),General Services Route,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Ward,Police District
count,566.000000,566.000000,513.000000,513.000000,513.000000,565.000000,566.000000,566.000000,566.000000,476.000000,...,566.000000,566.000000,5.660000e+02,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,566.000000
mean,609681.791519,60629.727915,49.504873,47.766082,48.288499,92.313805,21.085866,94.378445,98.915371,20.356303,...,626.053004,39.084806,1.500000e+14,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,22.060071,11.710247
std,8831.060946,20.248024,20.110837,16.215584,17.417176,5.993053,27.543835,11.353180,2.311631,16.850870,...,448.495105,6.165552,0.000000e+00,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,13.645574,6.688582
min,400018.000000,60605.000000,1.000000,1.000000,1.000000,57.900000,0.000000,0.000000,72.700000,0.000000,...,21.000000,29.000000,1.500000e+14,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,1.000000,1.000000
25%,609873.250000,60618.000000,35.000000,37.000000,37.000000,91.900000,4.525000,95.100000,98.600000,9.175000,...,342.250000,34.000000,1.500000e+14,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,10.000000,7.000000
50%,610052.500000,60625.000000,48.000000,47.000000,47.000000,94.400000,12.250000,95.800000,100.000000,16.000000,...,504.000000,39.000000,1.500000e+14,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,21.000000,10.000000
75%,610212.750000,60639.000000,61.000000,58.000000,59.000000,95.600000,26.975000,96.400000,100.000000,24.900000,...,790.500000,45.000000,1.500000e+14,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,32.750000,17.000000
max,610544.000000,60827.000000,99.000000,99.000000,99.000000,98.400000,251.600000,98.500000,100.000000,100.000000,...,4368.000000,49.000000,1.500000e+14,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,50.000000,25.000000

In [11]:
# to the next step    data perpartion

In [12]:
df.head??

Signature: df.head(n: 'int' = 5) -> 'Self'
Source:
    @final
    def head(self, n: int = 5) -> Self:
        """
        Return the first `n` rows.

        This function returns the first `n` rows for the object based
        on position. It is useful for quickly testing if your object
        has the right type of data in it.

        For negative values of `n`, this function returns all rows except
        the last `|n|` rows, equivalent to ``df[:n]``.

        If n is larger than the number of rows, this function returns all rows.

        Parameters
        ----------
        n : int, default 5
            Number of rows to select.

        Returns
        -------
        same type as caller
            The first `n` rows of the caller object.

        See Also
        --------
        DataFrame.tail: Returns the last `n` rows.

        Examples
        --------
        >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
        ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
        >>> df
              animal
        0  alligator
        1        bee
        2     falcon
        3       lion
        4     monkey
        5     parrot
        6      shark
        7      whale
        8      zebra

        Viewing the first 5 lines

        >>> df.head()
              animal
        0  alligator
        1        bee
        2     falcon
        3       lion
        4     monkey

        Viewing the first `n` lines (three in this case)

        >>> df.head(3)
              animal
        0  alligator
        1        bee
        2     falcon

        For negative values of `n`

        >>> df.head(-3)
              animal
        0  alligator
        1        bee
        2     falcon
        3       lion
        4     monkey
        5     parrot
        """
        if using_copy_on_write():
            return self.iloc[:n].copy()
        return self.iloc[:n]
File:      d:\conda\lib\site-packages\pandas\core\generic.py
Type:      method

In [13]:
 df.columns

Index(['School ID', 'Name of School', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
       'Network Manager', 'Collaborative Name',
       'Adequate Yearly Progress Made? ', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'Healthy Schools Certified?', 'Safety Icon ', 'Safety Score',
       'Family Involvement Icon', 'Family Involvement Score',
       'Environment Icon ', 'Environment Score', 'Instruction Icon ',
       'Instruction Score', 'Leaders Icon ', 'Leaders Score ',
       'Teachers Icon ', 'Teachers Score', 'Parent Engagement Icon ',
       'Parent Engagement Score', 'Parent Environment Icon',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %', 'RCDTS Code',
       'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude',
       'Community Area Number', 'Community Area Name', 'Ward',
       'Police District', 'Location'],
      dtype='object')

In [14]:
df.columns

Index(['School ID', 'Name of School', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
       'Network Manager', 'Collaborative Name',
       'Adequate Yearly Progress Made? ', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'Healthy Schools Certified?', 'Safety Icon ', 'Safety Score',
       'Family Involvement Icon', 'Family Involvement Score',
       'Environment Icon ', 'Environment Score', 'Instruction Icon ',
       'Instruction Score', 'Leaders Icon ', 'Leaders Score ',
       'Teachers Icon ', 'Teachers Score', 'Parent Engagement Icon ',
       'Parent Engagement Score', 'Parent Environment Icon',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %', 'RCDTS Code',
       'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude',
       'Community Area Number', 'Community Area Name', 'Ward',
       'Police District', 'Location'],
      dtype='object')

In [15]:
df  = df[[ 'Name of School', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'Phone Number', 
  
       'Healthy Schools Certified?',
        'Family Involvement Score', 

       'Parent Engagement Score', 
       'Average Student Attendance',
       'College Enrollment Rate %', 
       'College Enrollment (number of students) ',

       'Location']] .copy()

In [16]:
df.rename(columns = {'Phone Number'})

TypeError: 'set' object is not callable

In [ ]:
# Drob one column from our Data

In [ ]:
df.shape

In [ ]:
df = df.drop(['Location'] , axis=1)

In [ ]:
df.dtypes

In [27]:
df = df.rename(columns = { 'College Enrollment (number of students)' : 'College_Enroll'  })

In [28]:
df.head ()

,Name of School,"Elementary, Middle, or High School",Street Address,City,State,Phone Number,Healthy Schools Certified?,Family Involvement Score,Parent Engagement Score,Average Student Attendance,College Enrollment Rate %,College Enrollment (number of students),Location
0,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,(773) 535-4580,No,NDA,43,95.3,NDA,446,"(41.85269133, -87.69627777)"
1,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,(773) 534-2960,No,58,51,95.1,NDA,826,"(41.93496641, -87.77016525)"
2,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,(773) 534-2390,No,65,50,95.1,NDA,451,"(41.975867, -87.68325438)"
3,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,(773) 534-4290,No,NDA,46,92.6,NDA,828,"(41.90378521, -87.71796315)"
4,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,(773) 535-9120,No,NDA,NDA,93.0,NDA,354,"(41.77122181, -87.66656657)"

In [19]:
df.isna().sum()

Name of School                              0
Elementary, Middle, or High School          0
Street Address                              0
City                                        0
State                                       0
Phone Number                                0
Healthy Schools Certified?                  0
Family Involvement Score                    0
Parent Engagement Score                     0
Average Student Attendance                  1
College Enrollment Rate %                   0
College Enrollment (number of students)     0
Location                                    0
dtype: int64

In [20]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
561    False
562    False
563    False
564    False
565    False
Length: 566, dtype: bool

In [22]:
df.loc[df.duplicated]

Empty DataFrame
Columns: [Name of School, Elementary, Middle, or High School, Street Address, City, State, Phone Number, Healthy Schools Certified?, Family Involvement Score, Parent Engagement Score, Average Student Attendance, College Enrollment Rate %, College Enrollment (number of students) , Location]
Index: []

In [96]:
#Another Example

In [21]:
df.loc[ df.duplicated(subset=['E_M_H_School']) ] #great it is good

KeyError: Index(['E_M_H_School'], dtype='object')

In [100]:
#feature Adding Know await

In [23]:
ax = df[ 'E_M_H_School'].value_counts() \
    .head(100) \
    .plot(kind = 'bar' , title = 'Types Of Schools')
ax.set_xlabel('School')
ax.set_ylabel('Number of Count')

KeyError: 'E_M_H_School'

In [1]:
# df['E_M_H_School'].plot(kind='hist')

In [24]:
df

,Name of School,"Elementary, Middle, or High School",Street Address,City,State,Phone Number,Healthy Schools Certified?,Family Involvement Score,Parent Engagement Score,Average Student Attendance,College Enrollment Rate %,College Enrollment (number of students),Location
0,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,(773) 535-4580,No,NDA,43,95.3,NDA,446,"(41.85269133, -87.69627777)"
1,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,(773) 534-2960,No,58,51,95.1,NDA,826,"(41.93496641, -87.77016525)"
2,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,(773) 534-2390,No,65,50,95.1,NDA,451,"(41.975867, -87.68325438)"
3,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,(773) 534-4290,No,NDA,46,92.6,NDA,828,"(41.90378521, -87.71796315)"
4,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,(773) 535-9120,No,NDA,NDA,93.0,NDA,354,"(41.77122181, -87.66656657)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,TEAM Englewood Community Academy High School,HS,6201 S Stewart Ave,Chicago,IL,(773) 535-3530,No,48,58,87.3,NDA,440,"(41.7814927, -87.63494163)"
562,Robert A Black Magnet Elementary School,ES,9101 S Euclid Ave,Chicago,IL,(773) 535-6390,No,NDA,55,96.0,NDA,474,"(41.72965645, -87.57660534)"
563,Martin A Ryerson Elementary School,ES,646 N Lawndale Ave,Chicago,IL,(773) 534-6700,No,32,45,95.5,NDA,445,"(41.89321142, -87.71883334)"
564,Infinity Math Science and Technology High School,HS,3120 S Kostner Ave,Chicago,IL,(773) 535-4225,No,NDA,51,92.2,55.7,388,"(41.83601953, -87.73419465)"
565,Daniel J Corkery Elementary School,ES,2510 S Kildare Ave,Chicago,IL,(773) 534-1650,No,NDA,NDA,94.7,NDA,631,"(41.84559878, -87.73122946)"